@{
    ViewBag.Title = "Down Syndrome Africa";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
   	Down Syndrome South Africa was established in 1986 as a parent advocacy organization. It allows for the advocating and promoting of the rights of persons with down syndrome and their families. Our three focus areas include capacity building of our members, awareness raising and human rights advocacy. However, a lot more services are also offered beginning from the birth of a child with down syndrome and ending with the death of a person with down syndrome.

    <br /><br />


    What type of Sustainable development Goals does Down-Syndrome Africa follow?<br />
    Poverty (Goal Number 1): Disability is linked to poverty, as people with disabilities are likely to receive a lack of education to make them economically sustainable, thus leaving them vulnerable to poverty
    <br />
    Good Health and wellbeing (Goal Number 3): People with down syndrome do experience medical complications and we thus need to ensure they receive optimal quality health care.
    <br />
    Quality Education (Goal number 4): Same as poverty
    <br />
    Decent work and economic growth (Goal number 8): Person’s with disability as less likely to be employed in the open labor market thus it is important for us to ensure that they are afforded opportunities to decent work and can be economic contributors.
    <br />
    Reduced inequality (Goal number 10): Improve access for people of disability to ensure equality and remove inequality.
    <br />

    Sustainable cities and communities (Goal number 11): Important to educate communities on disabilities to ensure sustainability. This is done by ensuring communities provide programs that are inclusive of people with disabilities.
    <br />
    Peace and Justice (Goal Number 16): Persons with disabilities rights are often violated and it is important we ensure they have access to justice thus ensuring they live a life of wellbeing and peace.
</p>
