@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Our new address is:
    93 Lyttelton Road,
    Clubview, Centurion 0157 <br />

    Office Hours:
    Monday to Thursday 08:30 to 16:00 and Fridays 08:30 to 13:00
    <br />
    Please call DSSA on the below numbers
    Office 012 001 2441/012 001 2442
    Cell 077 526 2377 or Ancella Ramjas on 082 478 9741
</address>
