@model{IEnumerable<U19106832_HW04.Models.DocModel>
@{
    ViewBag.Title = "Index";
}
    }
<h2>Index</h2>

<div class="jumbotron">
    <table class="table">
        <tr>
            <th>
                Document Name
            </th>
            <th></th>
        </tr>
        @if (Model != null)
        {
            foreach (var doc in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => doc.DocumentName)
                    </td>
                    <td>
                        <button class="btn btn-danger"> @Html.ActionLink("Download", "Download", new { DownloadDocument = doc.DocumentName })</button>
                        <button class="btn btn-success"> @Html.ActionLink("Delete", "Delete", new { DeleteDocument = doc.DocumentName })</button>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td>No Documents</td>
            </tr>
        }


    </table>
</div>
