@{
    ViewBag.Title = "Home Page";
}
@ViewBag.Msg
<div class="jumbotron">
    <div class="row">
        <h1>WELCOME TO DOWN-SYNDROME AFRICA</h1>
        <p>-- WORKING TO IMPROVE THE LIVES OF INDIVIDUALS WITH DOWN-SYNDROME -- </p>
    </div>
</div>
<img src="~/App_Data/Images/DSSA.JPEG" style="width: 400px; height= 400px; margin-left:400px;margin-right:auto;" />
<br />

<img src="~/App_Data/Images/UC1.JPEG" style="width: 400px; height= 400px; margin-left:400px;margin-right:auto;" />
<br />
<img src="~/App_Data/Images/UC2.JPEG" style="width: 400px; height= 400px; margin-left:400px;margin-right:auto;" />
<br />
<img src="~/App_Data/Images/UC3.JPEG" style="width: 400px; height= 400px; margin-left:400px;margin-right:auto;" />
<br />
<img src="~/App_Data/Images/Diagram1.JPEG" style="width: 400px; height= 400px; margin-left:400px;margin-right:auto;" />
<br />
<div class=col-lg-4>
    <h2>Option Selection</h2>
    @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <label>Document</label>
        <input type="radio" name="radioButton" value="Document" /><br />
        <input type="file" name="doc" />
        <br />
        <button type="submit">Submit</button>
    }

</div>

